* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Arial";
  color: antiquewhite;
  font-size: 10px;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #8595a1;
}

.container {
  background-color: #3a3535;
  border: 5px solid black;
  border-radius: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1280px;
  margin: 50px auto;
  padding: 20px 0;
  width: 720px;
}

.container .camera {
  border: 5px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.container .screen {
  border: 5px solid black;
  background-color: #1c1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 90%;
  height: 80%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container .screen header {
  padding: 20px 0;
  font-weight: bold;
  font-style: italic;
}

.container .screen main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.container .screen main::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.container .screen main article {
  padding: 30px;
  text-align: left;
}

.container .screen main .quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.container .screen main .quiz .quiz-button {
  border: 5px solid black;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 30px 10px;
  margin-top: 20px;
}

.container .screen main .quiz .quiz-button:nth-of-type(1) {
  background-color: pink;
  -webkit-box-shadow: 0 0 15px pink;
          box-shadow: 0 0 15px pink;
}

.container .screen main .quiz .quiz-button:nth-of-type(2) {
  background-color: #fff235;
  -webkit-box-shadow: 0 0 15px #fff235;
          box-shadow: 0 0 15px #fff235;
}

.container .screen main .quiz .quiz-button:nth-of-type(3) {
  background-color: #6d94cf;
  -webkit-box-shadow: 0 0 15px #6d94cf;
          box-shadow: 0 0 15px #6d94cf;
}

.container .screen main .quiz .quiz-button:nth-of-type(4) {
  background-color: #ffa620;
  -webkit-box-shadow: 0 0 15px #ffa620;
          box-shadow: 0 0 15px #ffa620;
}

.container .screen main .quiz .quiz-button:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.nextQuestion {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-name: correct;
          animation-name: correct;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.wrongAnswer {
  background-color: red !important;
  -webkit-box-shadow: 0 0 15px red !important;
          box-shadow: 0 0 15px red !important;
  opacity: 0.6;
}

.d-none {
  display: none;
}

@-webkit-keyframes correct {
  50% {
    background-color: #cbff7e;
    -webkit-box-shadow: 0 0 100px white;
            box-shadow: 0 0 100px white;
  }
}

@keyframes correct {
  50% {
    background-color: #cbff7e;
    -webkit-box-shadow: 0 0 100px white;
            box-shadow: 0 0 100px white;
  }
}
/*# sourceMappingURL=style.css.map */